<footer>
    <div class="whole-footer">


        <div data-aos="fade-down" data-aos-duration="1000" class="right-content-nav">
            <div class="B">B</div>

            <p class="name">Badri</p>
        </div>


        <div data-aos="fade-down" data-aos-duration="1000" class="left-content-nav">



            <a class="home" href="#info-content">Home</a>
            <a class="about" href="#what-I-do-section">About</a>
            <a class="process" href="#work-process">Process</a>
            <a class="Portfolio" href="#whole-portfolio">Portfolio</a>
            <a class="blog"routerLink="/aboutMe">About me</a>
            <a class="services" href="#discuss-project-section">Services</a>
            <a class="certifications" href="#certifications">Certifications</a>
            <a class="contact" href="">Contact</a>
        </div>

        <div data-aos="fade-down" data-aos-duration="1000">
            <p class="Copyright">Copyright © 2025.</p>
        </div>


    </div>
</footer>