<section class="about-me">
    <div class="aboutmeDiv">
        <span class="aboutTitle"> 💬 About Me</span>
        <p class="aboutmeText">

            I’m a 16-year-old web developer who started with front-end development and quickly became passionate about
            creating
            full web applications. I successfully completed the STEP Academy Full-Stack course, where I gained strong
            skills
            in
            HTML, CSS, JavaScript, TypeScript, Angular, responsive web design, C#, .Net, ASP.NET, Sql. This course gave me a solid foundation
            and boosted my
            confidence
            in building modern, user-friendly interfaces.

            I enjoy writing structured, efficient, secure code, building APIs, and understanding how data
            flows
            and functions behind the scenes.

            Thanks to STEP Academy, I have successfully obtained my Certiport certification — an achievement that
            officially validates my skills and helps me grow even further as a developer.
            I’m committed to learning, building real projects, and becoming a skilled full-stack developer. This is
            just
            the beginning of my journey.


        </p>
    </div>
</section>