<section class="about-me">
    <div class="aboutmeDiv">
        <span class="aboutTitle"> 💬 About Me</span>
        <p class="aboutmeText">

            I’m a 16-year-old web developer who started with front-end development and quickly became passionate about
            creating
            full web applications. I successfully completed the STEP Academy front-end course, where I gained strong
            skills
            in
            HTML, CSS, JavaScript, TypeScript, Angular and responsive web design. This course gave me a solid foundation
            and boosted my
            confidence
            in building modern, user-friendly interfaces.

            After finishing the course, I began focusing on the back end, where I'm now learning ASP.NET with C# and
            working
            with MySQL databases. I enjoy writing structured, efficient code, building APIs, and understanding how data
            flows
            and functions behind the scenes.

            Thanks to STEP Academy, I have successfully obtained my Certiport certification — an achievement that
            officially validates my skills and helps me grow even further as a developer.
            I’m committed to learning, building real projects, and becoming a well-rounded full-stack developer. This is
            just
            the beginning of my journey.


        </p>
    </div>
</section>